
<!-- 
<button (click)="addToCart('Vivo')">Add vivo</button> &nbsp;
<button (click)="addToCart('Redmi')">Add redmi</button> -->

<!-- <app-card></app-card>   -->



<!-- var vs signal -->

<button (click)="updateValue()">Update value</button>


<!-- 
<button (click)="writableSignalData()">writable Signal Data</button> <br>
<button (click)="readonlySignalData()">Computed Signal Data</button>
 -->




<!-- linked signal -->
<!-- 
<button (click)="onQuentityChanged()">update qty</button> &nbsp;


    <button (click)="selectProduct(products[0])">
      Select {{ products[0].name }}
    </button> &nbsp;
    <button (click)="selectProduct(products[1])">
      Select {{ products[1].name }}
    </button>  

    <h3>Selected Product: <span class="primary">{{ selectedProducted().name }}</span></h3>
    <h3>Price: <span class="success">{{ price() }}</span></h3>
    <h3>Quentity: <span class="warning"> {{ quentity() }}</span></h3>
    <h4>Total: <span class="primary">{{ total() }}</span> </h4> -->
